.card-wrapper{
    padding: 10px;
  border-radius: 20px;
  background-color: darkorange;
  margin-top: 20px;
  }

  .image{
     width: 300px;
     height: 300px;
  }
  .flex-wrapp{
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
.price{
   font-size: 20px;
   font-weight: 600;
}
.color{
   font-size: 16px;
}
.device-name{
   color: #4b084c;
}


