.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color:black;
    border-radius: 10px;
}
.devices{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
sup{
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.header-svg-wrapp{
    display: flex;
    align-items: center;
}

.svg-favourite-white{
    fill:#cbc9c9;
}
.svg-favourite-blue{
    fill:#000bbb;
}
.svg-cart-white{
    fill:#cbc9c9;
}
.svg-cart-red{
    fill:#ff0000;
}


 .grey-svg {
    fill: #cbc9c9;
    cursor: pointer;
}

.blue-svg {
    fill: #000bbb;
    cursor: pointer;
}